.container-plantbuy{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 720px) {
    .container-plantbuy{
      flex-direction: column;
      align-items: center;
    }
       
}