.container-page{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.container-page p{
    background-color: #f5efef;
}

.img-plant{
    background-color: #f5efef;
}

.container-icones{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.div-icons{
    display: flex;
    justify-content: space-evenly;
    margin: 0.1rem;
}

.div-icons p{
    margin-left: 10px;

}

.div-icons img{
    margin-left: 20px;
}



.plants-icons{
    background-color: #fffafa; 
}

.icon{
    width: 20px;
    height: 20px;
    background-color: #fffafa;
    margin: 1px;
}
