.campo {
  font-size: 1rem;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0.8rem;
  margin: 0 0 1rem;
  border: 1px solid #242038;
  border-radius: 3px;
}


.campo:focus {
  outline: none;
  border-color: #ff0000 ;
  box-shadow: 0 0 10px #ff0000;
}

.grupo__erro {
  color: red;
  font-size: small;
}

h2{
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}


.btn-form {
  background:#fffafa;
  color: #15573F;         
  border-radius: 20px;
  padding: 10px 50px;
  border: #15573F solid 1px;    
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  text-decoration: none;  
  }
  
  .btn--desabilitado {
    color: gray;
    background: lightgrey;
    pointer-events: none;
  }