.container{
  margin: 50px;
}

.nav{
  display: flex;
  justify-content: start;
}

.home{
  display: flex;
}

.home-title__btn h2{
  font-size:  5.0rem;
}

.home-img{
  width: 55%;
  height: 40%;
}

.home-btn {
    background: #15573F;
    border-radius: 20px;
    color: #ffffff;       
    padding: 10px 30px;
    border: none;    
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .btn-desabilitado {
    color: gray;
    background: lightgrey;
    pointer-events: none;
  }