.container-water{
    padding: 70px;
    width: 90%;
    display: flex;
    justify-content: space-around;

}

.container-pages{
    width: 60%;
}

.pages-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    text-align: center;    
    color: #555454;
}

h2{
    font-weight: 300;
}

p{
    font-size: 0.7rem;
}

span{
    font-weight: bold;    
}

.container-icons{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.btn-pages{
    background:#f5efef;
    border-radius: 20px;
    color: #15573F;         
    padding: 10px 30px;
    border: #15573F solid 1px;    
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }  
  
  .container-btn{
      padding: 70px;
      display: flex;
      justify-content: space-between;     
    }

    .card-icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        width: 150px;
        height: 150px;
        background-color: #fffafa;
    }
    
    .card-icon__selected{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        width: 150px;
        height: 150px;
        background-color:#FD9872;
    }
    
    .icons{
        background-color:#fffafa;         
    }
    
    .icon-selected{
        background-color:#FD9872;
    }

    .text-icon{
        background-color:#fffafa;
    }

    .text-icon__selected{
        color: #ffffff;
        background-color:#FD9872;
    }

    @media (max-width: 1200px) {
        .container-sun{
            padding: 20 px 5px;           
        }       
    }

    @media (max-width: 970px) {
        .container-sun{
            padding:3px;           
        }

        .pages-title h2{            
          font-size: x-large;        
        }
    }

    @media (max-width: 810px) {
        .card-icon{
            width: 8rem;
            height: 8rem;
        }
       
        .icons{
            width: 3rem;
        }
    }

    @media (max-width: 670px) {
        .card-icon{
            width: 115px;
            height: 115px;
        }
       
        .icons{
            width: 2.5rem;
        }
    }

    @media (max-width: 590px) {

        .container-icons{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .card-icon{
            width: 250px;
            height: 150px;
            margin: 20px;
        }
       
        .icons{
            width: 3rem;
        }

        .container-btn{
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          
          .btn-pages{
            padding: 20px  70px;
            margin-top: 10px;
        }
    }